.player {
  position: absolute;
  bottom: -10%;
  left: -10%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #131313;
  background-color: #51d1b9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #123321;
  font-size: 12px;
  font-weight: 700;
  pointer-events: none;
  transition: all 0.1s linear;
}
