.play-button {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100px;
  height: 20px;
  background-color: white;
  border: 2px solid #4CAF50;
  border-radius: 4px;
  color: #4CAF50;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.4s;
  cursor: pointer;
}

.play-button:hover {
  background-color: #4CAF50;
  color: white;
}