.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  font-size: 16px;
  font-weight: 700;
  width: 100px;
  height: 50px;
  border: 1px solid #131313;
  border-radius: 5px;
  text-align: left;
  z-index: 100;
}
