@import './components/player.styles.scss';
@import './components/stadium.styles.scss';
@import './components/progress.styles.scss';
@import './components/timer.styles.scss';
@import './components/playButton.styles.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
}

.app {
  width: 100%;
  min-height: 100vh;
  background-image: radial-gradient(ellipse at center, #437c4f 19%,#7ad673 70%);
}

.app__wrapper {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
